<div class="container">
  <div class="text-center bg-dark text-white">
      <h1 class="pt-3">LIVE AUCTIONING</h1>
      <h1 class="pb-3">{{ auction.auctionName }}</h1>
  </div>

  <!-- Search form -->
  <form class="form-inline border border-secondary rounded mt-3 mb-3">
    <img src="../../../assets/icons/search.svg">
    <input class="form-control form-control-sm ml-3 w-75 mr-3" type="text" placeholder="Search Item Code"
      aria-label="Search" [(ngModel)]="search" name="search">
    <button class="btn btn-dark" (click)="onSearch()">Search</button>
  </form>
  <div *ngIf="searchMsg">
    <label class="text-danger">{{ searchMsg }}</label>
  </div>
  
  <div class="row mt-3">
    <div class="col-md-8 border">
      <div class="text-center">
          <img class="img-fluid" src="../../../assets/auction-fish.jpeg" width="350">

          <div class="border pt-3 pb-3">
            Image List
          </div>
      </div>
    </div>

    <div class="col-md-4 border text-center">
      <div class="mt-5">
        <h3><p>{{ orderedAuctionItems[i] && orderedAuctionItems[i].itemName }}</p></h3>
        <p>
          <label>Code:</label>
          {{ orderedAuctionItems[i] && orderedAuctionItems[i].itemCode }}
        </p>
        <p>
          <label>Quantity:</label>
          {{ orderedAuctionItems[i] && orderedAuctionItems[i].quantity }}
        </p>
        <p>
          <label>Description:</label><br>
          {{ orderedAuctionItems[i] && orderedAuctionItems[i].description }}
        </p>

        <form #liveAuctionForm="ngForm" (ngSubmit)="liveAuctionForm.valid && onSubmit()">
            
          <div class="form-group">
            <label>Final Price:</label>
            <input type="number" placeholder="Final Price" #price="ngModel" [(ngModel)]="orderedAuctionItems[i] && orderedAuctionItems[i].price"
            name="price" class="form-control" required [pattern]="currencyRegex"
            [ngClass]="{'invalid-textbox': liveAuctionForm.submitted && price.errors }">
            <!--Validate final price input-->
            <div *ngIf="liveAuctionForm.submitted && price.errors">
              <label *ngIf="price.errors.required" class="text-danger">This field is required.</label>
              <label *ngIf="price.errors.pattern" class="text-danger">Invalid price input.</label>
            </div>
          </div>

          <div class="form-group">
            <label>Winner Number:</label>
            <input type="number" placeholder="Winner Number" class="form-control" required
            name="winner" [pattern]="numRegex" [(ngModel)]="winnerNum" #winner="ngModel"
            [ngClass]="{'invalid-textbox' :liveAuctionForm.submitted && winner.errors }">
            <!--Validate winner number input-->
            <div *ngIf="liveAuctionForm.submitted && winner.errors">
              <label *ngIf="winner.errors.required" class="text-danger">This field is required.</label>
              <label *ngIf="winner.errors.pattern" class="text-danger">Invalid bidder number.</label>
            </div>
          </div>
          
            <!-- <div class="col-md-4 border text-center pt-3 pb-3"> -->
              <input class="btn btn-primary" type="submit" value="Submit">
        </form>

        <!-- Success message -->
        <div class="alert alert-success mt-3" *ngIf="successMessage">
          {{ successMessage }}
        </div>

        <!-- Error message -->
        <div class="alert alert-danger mt-3" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <button class="btn btn-secondary" (click)="goBack()">Back to auction page</button>

    <div class="col text-center">
      <button (click)="onPrev()"><img src="../../../assets/icons/chevron-left.svg"></button>
    
      {{ i + 1 }} / {{ orderedAuctionItems && orderedAuctionItems.length }}
    
      <button (click)="onNext()"><img src="../../../assets/icons/chevron-right.svg"></button>
    </div>
  </div>
  

  <div class="mt-5">
    <app-participants-list></app-participants-list>
  </div>
</div>
