<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-3 mb-3 border-bottom">
  <h2>Inventory:</h2>

  <div *ngIf="userDetails.type == 'staff'">
    <button type="button" class="btn btn-primary mb-1" data-toggle="modal" data-target="#defineOrderModal">
      <img src="../../../assets/icons/list.svg">
      Define Order
    </button>
  </div>

  <button (click)="changeView()" class="btn btn-dark mb-1">
    <img src="../../../assets/icons/eye.svg">
    Change view
  </button>

  <!--Refresh button-->
  <button (click)="refresh()" class="btn btn-dark mb-1">
    <img src="../../../assets/icons/refresh-cw.svg">
    Refresh
  </button>
</div>

<!-- Search form -->
<div class="input-group text-center mb-3 border-bottom pb-2">
  <div class="input-group-prepend">
      <img src="../../../assets/icons/search.svg">
  </div>

  <input class="form-control ml-3 mr-3" type="text" placeholder="Search Item Code / Name"
  aria-label="Search" [(ngModel)]="searchInput" name="search">

  <div class="input-group-append">
      <button class="btn btn-dark" (click)="onSearch()">Search</button>
  </div>
</div>
<div *ngIf="searchMsg" class="text-center">
  <label class="alert alert-danger">{{ searchMsg }}</label>
</div> 

<div *ngIf="(searchItems && searchItems[0]) != null && searchInput != ''" class="mb-3 border-bottom">
  <h4 class="text-center">Searched Item</h4>
  <div *ngIf="!isCardView" class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
          <tr>
              <th scope="col">Items</th>
              <th scope="col">Item Name</th>
              <th scope="col">Item Code</th>
              <th scope="col">Type</th>
              <th scope="col">Buyer</th>
              <th scope="col">Price</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let searchItem of searchItems" routerLink="/itemPage/{{ searchItem._id }}">
          <td *ngIf="searchItem.images">
            <img *ngIf="searchItem.images[0]" [src]="imgUrl + searchItem.images[0]" width="70" height="70" class="rounded shadow-sm">
            <img *ngIf="!searchItem.images[0]" src="../../../assets/placeholder.png" width="70" height="70" class="rounded shadow-sm">
          </td>
          <td>
            {{ searchItem.itemName }}
          </td>
          <td>
            {{ searchItem.itemCode }}
          </td>
          <td>
            {{ searchItem.type }}
          </td>
          <td>
            {{ searchItem.buyerID }}
          </td>
          <td>
            {{ searchItem.price | currency }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="isCardView">
    <div class="card-container mb-3 pb-3">
      <div *ngFor="let searchItem of searchItems" class="card m-2" routerLink="/itemPage/{{ searchItem._id }}">
        <img *ngIf="searchItem.images[0]" [src]="imgUrl + searchItem.images[0]" class="card-img mb-1">
        <img *ngIf="!searchItem.images[0]" src="../../../assets/placeholder.png" class="card-img mb-1">
        <div class="card-body mb-1">
          <h5><b>{{ searchItem.itemName }}</b></h5>
          <p>Code: {{ searchItem.itemCode }}</p>
          <p>Type: {{ searchItem.type }}</p>
          <p>Buyer: {{ searchItem.buyerID }}</p>
          <p>Price: {{ searchItem.price | currency }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-3 border-bottom">
  <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
    <h4 class="text-center">My Selling Items:</h4>
  </a>
  
  <div class="collapse" id="collapseOne">
    <div *ngIf="!isCardView" class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Items</th>
                <th scope="col">Item Name</th>
                <th scope="col">Item Code</th>
                <th scope="col">Type</th>
                <th scope="col">Buyer</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sellerItem of sellerItems" routerLink="/itemPage/{{ sellerItem._id }}">
            <td>
              <img *ngIf="sellerItem.images[0]" [src]="imgUrl + sellerItem.images[0]" width="70" height="70" class="rounded shadow-sm">
              <img *ngIf="!sellerItem.images[0]" src="../../../assets/placeholder.png" width="70" height="70" class="rounded shadow-sm">
            </td>
            <td>
              {{ sellerItem.itemName }}
            </td>
            <td>
              {{ sellerItem.itemCode }}
            </td>
            <td>
              {{ sellerItem.type }}
            </td>
            <td>
              {{ sellerItem.buyerID }}
            </td>
            <td>
              {{ sellerItem.price | currency }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="isCardView">
      <div class="card-container mb-3 pb-3">
        <div class="card m-2" *ngFor="let sellerItem of sellerItems" routerLink="/itemPage/{{ sellerItem._id }}">
          <img *ngIf="sellerItem.images[0]" [src]="imgUrl + sellerItem.images[0]" class="card-img mb-1">
          <img *ngIf="!sellerItem.images[0]" src="../../../assets/placeholder.png" class="card-img mb-1">
          <div class="card-body mb-1">
            <h5><b>{{ sellerItem.itemName }}</b></h5>
            <p>Code: {{ sellerItem.itemCode }}</p>
            <p>Type: {{ sellerItem.type }}</p>
            <p>Buyer: {{ sellerItem.buyerID }}</p>
            <p>Price: {{ sellerItem.price | currency }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="border-bottom mb-3">
  <a data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
    <h4 class="text-center">Auction Items:</h4>
  </a>
  
  <div class="collapse" id="collapseTwo">
    <div *ngIf="!isCardView" class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Items</th>
                <th scope="col">Item Name</th>
                <th scope="col">Item Code</th>
                <th scope="col">Buyer</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aucItem of auctionItems" routerLink="/itemPage/{{ aucItem._id }}">
            <td>
              <img *ngIf="aucItem.images[0]" [src]="imgUrl + aucItem.images[0]" width="70" height="70" class="rounded shadow-sm">
              <img *ngIf="!aucItem.images[0]" src="../../../assets/placeholder.png" width="70" height="70" class="rounded shadow-sm">
            </td>
            <td>
                {{ aucItem.itemName }}
            </td>
            <td>
              {{ aucItem.itemCode }}
            </td>
            <td>
              {{ aucItem.buyerID }}
            </td>
            <td>
              {{ aucItem.price | currency }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div *ngIf="isCardView">
      <div class="card-container mb-3 pb-3">
        <div class="card m-2" *ngFor="let aucItem of auctionItems" routerLink="/itemPage/{{ aucItem._id }}">
          <img *ngIf="aucItem.images[0]" [src]="imgUrl + aucItem.images[0]" class="card-img mb-1">
          <img *ngIf="!aucItem.images[0]" src="../../../assets/placeholder.png" class="card-img mb-1">
          <div class="card-body mb-1">
            <h5><b>{{ aucItem.itemName }}</b></h5>
            <p>Code: {{ aucItem.itemCode }}</p>
            <p>Buyer: {{ aucItem.buyerID }}</p>
            <p>Price: {{ aucItem.price | currency }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <a data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
    <h4 class="text-center">Quick Sell Items:</h4>
  </a>

  <div class="collapse" id="collapseThree">
    <div *ngIf="!isCardView" class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Items</th>
                <th scope="col">Item Name</th>
                <th scope="col">Item Code</th>
                <th scope="col">Buyer</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let quickSellItem of quickSellItems" routerLink="/itemPage/{{ quickSellItem._id }}">
            <td>
              <img *ngIf="quickSellItem.images[0]" [src]="imgUrl + quickSellItem.images[0]" width="70" height="70" class="rounded shadow-sm">
              <img *ngIf="!quickSellItem.images[0]" src="../../../assets/placeholder.png" width="70" height="70" class="rounded shadow-sm">
            </td>
            <td>
                {{ quickSellItem.itemName }}
            </td>
            <td>
              {{ quickSellItem.itemCode }}
            </td>
            <td>
              {{ quickSellItem.buyerID }}
            </td>
            <td>
              {{ quickSellItem.price | currency }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div *ngIf="isCardView">
      <div class="card-container mb-3 pb-3">
        <div class="card m-2" *ngFor="let quickSellItem of quickSellItems" routerLink="/itemPage/{{ quickSellItem._id }}">
          <img *ngIf="quickSellItem.images[0]" [src]="imgUrl + quickSellItem.images[0]" class="card-img">
          <img *ngIf="!quickSellItem.images[0]" src="../../../assets/placeholder.png" class="card-img mb-1">
          <h5><b>{{ quickSellItem.itemName }}</b></h5>
          <p>Code: {{ quickSellItem.itemCode }}</p>
          <p>Price: {{ quickSellItem.price | currency }}</p>
          <p>Buyer: {{ quickSellItem.buyerID }}</p>
          <p>Price: {{ quickSellItem.price | currency }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="defineOrderModal" tabindex="-1" role="dialog" aria-labelledby="defineOrderModal" aria-hidden="true">        
  <app-define-order></app-define-order>
</div>