<div class="container">
    <button class="btn btn-secondary mt-3" (click)="onBackBtn()">
        < Go Back
    </button>

    <h1 class="text-center">View All Users</h1>

    <!-- Search form -->
    <div class="input-group text-center mb-3 border-bottom pb-2">
        <div class="input-group-prepend">
            <img src="../../../assets/icons/search.svg">
        </div>
    
        <input class="form-control ml-3 mr-3" type="text" placeholder="Search User Name / Alias / Email"
        aria-label="Search" [(ngModel)]="searchInput" name="search">
    
        <div class="input-group-append">
            <button class="btn btn-dark" (click)="onSearch()">Search</button>
        </div>
    </div>
    <div *ngIf="searchMsg" class="text-center">
        <label class="alert alert-danger">{{ searchMsg }}</label>
    </div>

    <div *ngIf="(searchUsers && searchUsers[0]) != null && searchInput != ''" class="mb-3 border-bottom">
        <h4 class="text-center">Searched Users</h4>

        <div class="table-responsive">
            <table class="table mt-3">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Alias</th>
                        <th scope="col">Email</th>
                        <th scope="col">Address</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Type</th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let searchUser of searchUsers">
                        <td>
                            {{ searchUser.firstName }} {{ searchUser.lastName }}
                        </td>
                        <td>
                            {{ searchUser.alias }}
                        </td>
                        <td>
                            {{ searchUser.email }}
                        </td>
                        <td>
                            {{ searchUser.address }}
                        </td>
                        <td>
                            {{ searchUser.phoneNum }}
                        </td>
                        <td>
                            {{ searchUser.type }}
                        </td>
                        <td class="text-right">
                            <img src="../../../../assets/icons/edit-2.svg" class="mr-3" data-toggle="modal" data-target="#editUserModal" (click)="onEditUser(searchUser)">
                            <img src="../../../../assets/icons/trash-2.svg" (click)="onDelete(searchUser._id)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table mt-3">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Alias</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Type</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let user of users">
                    <td>
                        {{ user.firstName }} {{ user.lastName }}
                    </td>
                    <td>
                        {{ user.alias }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {{ user.address }}
                    </td>
                    <td>
                        {{ user.phoneNum }}
                    </td>
                    <td>
                        {{ user.type }}
                    </td>
                    <td class="text-right">
                        <img src="../../../../assets/icons/edit-2.svg" class="mr-3" data-toggle="modal" data-target="#editUserModal" (click)="onEditUser(user)">
                        <img src="../../../../assets/icons/trash-2.svg" (click)="onDelete(user._id)">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form #editUserForm="ngForm" (ngSubmit)="editUserForm.valid && onEditUserSubmit(editUserForm)">
                    
                    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="editUser._id">

                    <div class="form-row mt-2 text-center">
                        <div class="col">
                            <label>First Name: </label>
                        </div>
                        <div class="col">
                            <!--Get user first name-->
                            <input type="text" #firstName="ngModel" [(ngModel)]="editUser.firstName" name="firstName" placeholder="First Name"
                            required  [ngClass]="{'invalid-textbox': editUserForm.submitted && !firstName.valid }">
                            <!--Validate user first name input-->
                            <div *ngIf="editUserForm.submitted && !firstName.valid">
                                <label class="text-danger">This field is required.</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-row mt-2 text-center">
                        <div class="col">
                            <label>Last Name: </label>
                        </div>
                        <div class="col">
                            <!--Get user last name-->
                            <input type="text" #lastName="ngModel" [(ngModel)]="editUser.lastName" name="lastName" placeholder="Last Name"
                            required  [ngClass]="{'invalid-textbox': editUserForm.submitted && !lastName.valid }">
                            <!--Validate user last name input-->
                            <div *ngIf="editUserForm.submitted && !lastName.valid">
                                <label class="text-danger">This field is required.</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-row mt-2 text-center">
                        <div class="col">
                            <label>Alias: </label>
                        </div>
                        <div class="col">
                            <!--Get user alias-->
                            <input type="text" #alias="ngModel" [(ngModel)]="editUser.alias" name="alias" placeholder="Alias / Seller Code (3 to 10 letters)"
                            required  [ngClass]="{'invalid-textbox': editUserForm.submitted && !alias.valid }" [pattern]="aliasRegex" maxlength="10" minlength="3">
                            <!--Validate user alias input-->
                            <div *ngIf="editUserForm.submitted && !alias.valid">
                                <label *ngIf="alias.errors.required" class="text-danger">This field is required.</label>
                                <label *ngIf="alias.errors.pattern" class="text-danger">Invalid alias, must be 3 to 10 letters.</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-row mt-2 text-center">
                        <div class="col">
                            <label>Email: </label>
                        </div>
                        <div class="col">
                            <!--Get user email-->
                            <input type="text" #email="ngModel" [(ngModel)]="editUser.email" name="email" placeholder="Email" required
                            [pattern]="emailRegex" [ngClass]="{'invalid-textbox': editUserForm.submitted && !email.valid }">
                            <!--Validate user email-->
                            <div *ngIf="editUserForm.submitted && !email.valid">
                                <label *ngIf="email.errors.required" class="text-danger">This field is required.</label>
                                <label *ngIf="email.errors.pattern" class="text-danger">Invalid email address.</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-row mt-2 text-center">
                        <div class="col">
                            <label>Address: </label>
                        </div>
                        <div class="col">
                            <!--Get user address-->
                            <input type="text" #address="ngModel" [(ngModel)]="editUser.address" name="address" placeholder="Address"
                            required  [ngClass]="{'invalid-textbox': editUserForm.submitted && !address.valid }">
                            <!--Validate user address input-->
                            <div *ngIf="editUserForm.submitted && !address.valid">
                                <label *ngIf="address.errors.required" class="text-danger">This field is required.</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-row mt-2 text-center">
                        <div class="col">
                            <label>Phone Number: </label>
                        </div>
                        <div class="col">
                            <!--Get user phone number-->
                            <input type="tel" #phoneNum="ngModel" [(ngModel)]="editUser.phoneNum" name="phoneNum" placeholder="Phone Number" [pattern]="phoneRegex"
                            required  [ngClass]="{'invalid-textbox': editUserForm.submitted && !phoneNum.valid }" minlength="10" maxlength="10">
                            <!--Validate user phone number input-->
                            <div *ngIf="editUserForm.submitted && !phoneNum.valid">
                                <label *ngIf="phoneNum.errors.required" class="text-danger">This field is required.</label>
                                <label *ngIf="phoneNum.errors.pattern" class="text-danger">Phone number must be 10 digits</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-row mt-2 text-center">
                        <div class="col">
                            <label>Type: </label>
                        </div>
                        <div class="col">
                            <!--Get user type-->
                            <select id="type" name="type" #type="ngModel" [(ngModel)]="editUser.type" required>
                                <option value="member">Member</option>
                                <option value="staff">Staff</option>
                            </select>
                        </div>
                        <!--Validate user phone number input-->
                        <div *ngIf="editUserForm.submitted && !type.valid">
                            <label class="text-danger">This field is required.</label>
                        </div>
                    </div>

                    <!--Submit button-->
                    <div class="mt-2 text-center mt-2">
                        <input type="submit" class="btn btn-primary" value="Edit">
                    </div>

                    <!-- Success message -->
                    <div class="alert alert-success mt-2" *ngIf="showSucessMessage">
                        Edited successfully
                    </div>

                    <!-- Error message -->
                    <div class="alert alert-danger mt-2" *ngIf="serverErrorMessages">
                        {{serverErrorMessages}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>