.card-img {
  width: 200px;
  height: 150px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 350px;
  margin: auto;
  text-align: center;
  font-family: arial;
  }
  
  .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
  }
  
  .card-container .card:not(:last-child) {
  margin-right: 0;
  }
  
  .card-container .card:not(.highlight-card) {
  cursor: pointer;
  }
  
  .card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(black, 0.35);
  }
  
  .card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
  }
  
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../../../assets/home/images/bg-home.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../assets/home/images/bg-home.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

header.masthead {
  position: relative;
  padding: 9rem 0;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529 !important;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

main {
  padding: 10rem 0 20rem 0;
  text-align: center;
  position: relative;
}

@media (max-width: 991.98px) {
  main {
      padding: 1rem 0 3rem 0;
  }
}

main h1 {
  display: inline-block;
  font-size: 1.75em;
  opacity: 1;
  padding: 0.65em 1em;
  position: relative;
  z-index: 1;
  border-width: 2px 0;
  border-style: solid;
  border-color: #fff !important;
  color: #fff !important;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}

@media (max-width: 991.98px) {
  main h1 {
      font-size: 1.5em;
      border-width: 1px 0;
      margin-bottom: 1rem;
  }
}

main h3 {
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff !important;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
}

main h3 a {
  color: #fff !important;
  font-size: 1rem;
  font-weight: 300;
  border-bottom: 1px dotted;
  text-decoration: none;
}

main h3 a:hover {
  text-decoration: none;
}

main .learn-more-scrolly {
  color: #fff !important;
  font-size: 0.9em;
  letter-spacing: 3px;
  font-weight: 400;
  text-decoration: none;
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 150px;
  height: 75px;
  display: block;
  text-transform: uppercase;
}

main .learn-more-scrolly:hover {
  text-decoration: none;
}

main .learn-more-scrolly::after {
  background-image: url("../../../assets/home/images/arrow-down-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0.2em;
  content: "";
  display: block;
  height: 1.5em;
  left: 50%;
  margin: 0 0 0 -0.75em;
  position: absolute;
  width: 1.5em;
  -webkit-animation: bounce 3s ease infinite;
  animation: bounce 3s ease infinite;
}

@-webkit-keyframes bounce {
  50% {
      -webkit-transform: scale(0.95) translateY(-50%);
      transform: scale(0.95) translateY(-50%);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}

@keyframes bounce {
  50% {
      -webkit-transform: scale(0.95) translateY(-50%);
      transform: scale(0.95) translateY(-50%);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}

@media (max-width: 991.98px) {
  main .learn-more-scrolly {
      display: none;
  }
}

.showcase {
  background-color: #2e3842;
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-text h2 {
  color: #fff !important;
  font-size: 1.35em;
  line-height: 1.75em;
  font-weight: 800;
  letter-spacing: .225em;
  margin: 0 0 1em;
}

.showcase .showcase-text p {
  margin: 0 0 2em;
  color: #fff !important;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
      padding: 7rem;
  }
}

.upcoming-auctions {
  background-color: #21b2a6;
  padding: 6em 0 5em;
}

.upcoming-auctions header .section-heading {
  text-align: center;
}

.upcoming-auctions header .section-heading h2 {
  color: #fff !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
  display: inline-block;
  padding-bottom: 1em;
  position: relative;
  font-size: 1.35em;
  line-height: 1.75em;
  font-weight: 800;
  letter-spacing: 0.225em;
  margin: 0 0 1em;
  text-transform: uppercase;
  width: 100%;
}

.upcoming-auctions header .section-heading h4 {
  font-size: 1.85em;
  line-height: 1.75em;
  font-weight: 800;
  letter-spacing: 0.225em;
  margin: 0 0 1em;
  color: #fff !important;
}

.upcoming-auctions header .section-heading p {
  color: #d3d4e4;
  margin: 0 0 2em;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
}

.upcoming-auctions .upcoming-auctions-card {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 20px 36px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 20px 36px rgba(0, 0, 0, 0.07);
  border-radius: 0.6rem;
  padding: 2.625rem;
  height: 100%;
  text-align: center;
  position: relative;
}

@media (max-width: 991.98px) {
  .upcoming-auctions .upcoming-auctions-card {
      padding: 1.625rem;
      margin-bottom: 1rem;
      height: auto;
  }
}

.upcoming-auctions .upcoming-auctions-card h3 {
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
  display: inline-block;
  padding-bottom: 1em;
  position: relative;
  font-size: 1.35em;
  line-height: 1.75em;
  font-weight: 800;
  letter-spacing: 0.225em;
  margin: 0 0 1em;
  text-transform: uppercase;
}

.upcoming-auctions .upcoming-auctions-card .lead {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.upcoming-auctions .upcoming-auctions-card .datetime {
  position: absolute;
  padding: 1rem 3rem;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.125);
}

.upcoming-auctions .upcoming-auctions-card .upcoming-auctions-icon {
  text-align: center;
  margin-bottom: 2rem;
}

.upcoming-auctions .upcoming-auctions-card .upcoming-auctions-icon img {
  max-width: 100%;
}

.upcoming-auctions .upcoming-auctions-card .upcoming-auctions-icon i {
  font-size: 5rem;
  color: #21b2a6 !important;
}

.upcoming-auctions .our-auctioning {
  padding-top: 8rem;
}

.upcoming-auctions .our-auctioning .our-auctioning-cards {
  margin-top: 1rem;
}

.upcoming-auctions .our-auctioning .our-auctioning-cards .card {
  border: none;
}

.upcoming-auctions .our-auctioning .our-auctioning-cards .card img {
  -o-object-fit: cover;
  object-fit: cover;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #505393;
  color: #d3d4e4;
}

@media (max-width: 767.98px) {
  .testimonials {
      padding-top: 1.5rem;
      padding-bottom: 1rem;
  }
}

.testimonials header .section-heading {
  text-align: center;
}

.testimonials header .section-heading h2 {
  color: #fff !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
  display: inline-block;
  padding-bottom: 1em;
  position: relative;
  font-size: 1.35em;
  line-height: 1.75em;
  font-weight: 800;
  letter-spacing: .225em;
  margin: 0 0 1em;
  text-transform: uppercase;
  width: 100%;
}

.testimonials header .section-heading p {
  color: #d3d4e4;
  margin: 0 0 2em;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  -webkit-box-shadow: 0px 5px 5px 0px #adb5bd !important;
  box-shadow: 0px 5px 5px 0px #adb5bd !important;
}

.testimonials .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  width: 100%;
}

.testimonials .features li {
  padding: 4em 4em 2em 4em;
  display: block;
  position: relative;
  text-align: left;
  width: 50%;
}

@media (max-width: 767.98px) {
  .testimonials .features li {
      width: 100%;
      border-top: 2px solid rgba(0, 0, 0, 0.125);
      padding: 2em 2em 0em 2em;
      text-align: center;
  }
  .testimonials .features li:first-child {
      border-top: 2px solid transparent;
  }
}

.testimonials .features li h3 {
  color: #fff !important;
  font-size: 1.15em;
  line-height: 1.75em;
  font-weight: 800;
  letter-spacing: .225em;
  margin: 0 0 1em;
  text-transform: uppercase;
}

.testimonials .features li p {
  color: #d3d4e4;
  margin: 0 0 2em;
  font-size: 1em;
  line-height: 2.1em;
  font-weight: 400;
}

@media (min-width: 767.98px) {
  .testimonials .features li:nth-child(1) {
      background-color: rgba(0, 0, 0, 0.035);
      border-top-left-radius: 3px;
  }
  .testimonials .features li:nth-child(2) {
      background-color: rgba(0, 0, 0, 0.07);
      border-top-right-radius: 3px;
  }
  .testimonials .features li:nth-child(3) {
      background-color: rgba(0, 0, 0, 0.105);
  }
  .testimonials .features li:nth-child(4) {
      background-color: rgba(0, 0, 0, 0.14);
  }
  .testimonials .features li:nth-child(5) {
      background-color: rgba(0, 0, 0, 0.175);
      border-bottom-left-radius: 3px;
  }
  .testimonials .features li:nth-child(6) {
      background-color: rgba(0, 0, 0, 0.21);
      border-bottom-right-radius: 3px;
  }
}

.call-to-action {
  position: relative;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529 !important;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: rgba(29, 36, 42, 0.9);
}

footer a:hover {
  text-decoration: none;
}

footer ul li {
  display: inline-block;
  padding: 0 1em 0 0;
}

footer ul li a {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}

footer ul li a .label {
  display: none;
}

footer .copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25rem;
  letter-spacing: 0.225rem;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
}

footer .copyright a {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.5);
}


/* GLOBAL SETTING */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body,
* {
  font-family: "Open Sans", sans-serif;
}

a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container {
  width: auto;
  max-width: 1140px;
  margin: 0 auto;
}

.bg-dark-dull {
  background-color: rgba(0, 0, 0, 0.15);
}

.btn {
  letter-spacing: 0.225em;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  font-weight: 600;
  padding: .5rem 1rem;
}

.btn.max-w-200 {
  max-width: 200px;
}

.btn.btn-primary {
  background-color: #ed4933;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff !important;
  cursor: pointer;
  border: 0;
}

.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:hover {
  background-color: #ed4933 !important;
  border-color: #ed4933 !important;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(237, 73, 51, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(237, 73, 51, 0.5) !important;
}

header.sticky-top {
  position: fixed;
  width: 100%;
  -webkit-transition: padding 0.25s ease;
  transition: padding 0.25s ease;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../../../assets/home/images/bg-home.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../assets/home/images/bg-home.jpg);
  -webkit-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
}

.navbar {
  background-color: transparent;
  padding: 0;
  justify-content: center;
}

.navbar .nav-link {
  text-transform: uppercase;
}

.navbar .navbar-toggler {
  margin: 1rem;
  border-color: transparent;
  outline: none;
}

.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("../../../assets/home/images/menu-icon.svg");
}

.navbar .navbar-toggler a {
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.navbar .navbar-collapse {
  border-top: solid 2px #fff !important;
  padding: 2rem;
}


/*# sourceMappingURL=main.css.map */
