<body>
    <!-- Masthead -->
    <header id="header" class="text-white text-center position-sticky sticky-top">
        <!-- Navigation -->
        <div class="container">
            <nav class="navbar navbar-dark">
                <a class="btn btn-primary my-3 mr-3 max-w-200 " routerLink="/user/signup">Sign Up</a>
                <a class="btn btn-outline-light  my-3  mr-3 max-w-200 " routerLink="/user/signin">Sign In</a>
            </nav>
        </div>
    </header>

    <main class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 mx-auto">
                    <h1>COLORADO AQUARIUM SOCIETY LIVE AUCTION</h1>
                    <h3>Dive Into Colorado's <br /> Largest Exotic Fish Auction!<br /> Built By
                        <a href="http://www.ucdenver.edu/pages/ucdwelcomepage.aspx">CU DENVER Computer Engineering Students</a>.</h3>
                    <button type="submit" class="btn btn-primary mt-4" routerLink="/user/signin">Sign In or Join Now!</button>
                </div>
            </div>
        </div>
        <a href="#scroll-to" class="learn-more-scrolly">Learn More</a>
    </main>

    <!-- Icons Grid -->
    <section class="upcoming-auctions" id="scroll-to">
        <header class="container">
            <div class="section-heading">
                <h2>JOIN US AT OUR NEXT UPCOMING AUCTION!</h2>
                <app-auctions-list></app-auctions-list>
            </div>
        </header>

        <div class="our-auctioning">
            <header class="container">
                <div class="section-heading">
                    <div class="inner">
                        <header class="major">
                            <h2>Items In Upcoming Auction<br/></h2>
                            <div class="card-container mb-3 pb-3">
                                <div class="card m-2" *ngFor="let item of items" routerLink="/itemPage/{{ item._id }}">
                                    <img *ngIf="item.images[0]" [src]="imgUrl + item.images[0]" class="card-img mb-2">
                                    <img *ngIf="!item.images[0]" src="../../../assets/placeholder.png" class="card-img mb-2">
                                    <div class="text-dark font-weight-bold">{{ item.itemName }}</div>
                                </div>
                            </div>
                        </header>
                    </div>
                </div>
            </header>
        </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-5 order-lg-2 text-white showcase-img" style="background-image: url('assets/home/images/clownFish.jpg')"></div>
                <div class="col-lg-7 order-lg-1 my-auto showcase-text">
                    <h2>WELCOME TO COLORADO AQUARIUM SOCIETY!</h2>
                    <p class="lead mb-0">
                        We host monthy local exotic fish and aquarium related auctions for the publis. Bi-Annually we host 2 large-scale auctions for the public. Join us at our next Auction!</p>
                </div>
            </div>
            <div class="row no-gutters bg-dark-dull">
                <div class="col-lg-5 text-white showcase-img" style="background-image: url('assets/home/images/stripedFish.jpg');"></div>
                <div class="col-lg-7 my-auto showcase-text">
                    <h2>IN ORDER TO PARTICIPATE IN OUR AUCTION(S), YOU MUST SIGN UP & FOLLOW OUR GUIDELINES ON ACCEPTED ITEMS.
                    </h2>
                    <p class="lead mb-0">
                        People from all over Colorado participate in our monthly gatherings to auction their aquarium, marine and related items</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-5 order-lg-2 text-white showcase-img" style="background-image: url('assets/home/images/blueStringRay.jpg');"></div>
                <div class="col-lg-7 order-lg-1 my-auto showcase-text">
                    <h2>Easy to Use &amp; REACH OUT TO US DIRECTLY!</h2>
                    <p class="lead mb-0">
                        Interested in learning more about our amazing community? Contact Us today at our email: "info@coloradoaquarium.com"
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!--- <section id="three" class="wrapper style3 special"> -->
    <section class="testimonials">
        <header class="container">
            <div class="section-heading">
                <h2>Am I ready to participate in the auction?</h2>
                <p>The Frequently Asked Questions outlined below will help make sure you are prepared and ready for participating in a CAS auction.</p><br/>
            </div>
        </header>

        <div class="container">
            <ul class="features">
                <li>
                    <h3>1. How do I Sign Up?</h3>
                    <p>In order to participate in our auctions you must first <a href="/user/signup">Sign Up</a>. The sign up form will require you to create an ALIAS which is a 3 letter phrase we will use to identify items that you upload and
                        items that you've won in the auction. This alias is assigned uniquely to you and it is encouraged you use your 3 initials. An example name and alias pair: If your name is "John Michael Smith" your alias would be "JMS". After signing
                        up, you can participate in auctions, upload items, and personalize your account.</p>
                </li>
                <li>
                    <h3>2. How do I Sell items in the CAS auction?</h3>
                    <p>To sell at our auctions please upload appropriate items in order to avoid having your items be rejected. Please have a title, image, and description for each of your items.<br /> After signing in, select an auction and press "Participate".
                        Now you are added to the auction. After joining, click "Sell Item". You can now upload your items for other participants to bid on OR you can choose to add your item as a quick sale item. Quick Sale items are not used in the auction,
                        rather they are sold direct to participants at a set price.</p>
                </li>
                <li>
                    <h3>3. How do I checkout and pay for my items?</h3>
                    <p>First sign in to our dashboard. After an auction has completed, your "Cart" will be updated with the items you've won. Once in the dashboard, press "Cart". Now you can see a list of the items you've won and also <br /> will be prompted
                        to purchase them using PayPal or your Credit/Debit Card. CAS Staff will assign your quick sale items to this same dashboard for you to checkout and purchase allowing you to easily transact on the go and conveniently from your perosonal
                        device.
                    </p>
                </li>
                <li>
                    <h3>4. If my item does not get sold, how do I get it back?</h3>
                    <p>In our system we will know which items were sold and which were not. When you upload your items to the auction they are tied to your unique 3 character alias. We can see the specific items marked as unsold using your Alias. We will
                        return the items to the participants who did not have their item sold before they leave the auction.
                        <br /> After the auction completes, please speak to a CAS staff memeber directly and we will return your item to you.</p>
                </li>
                <li>
                    <h3>5. How will CAS Auction pay me for the products I've sold?</h3>
                    <p>CAS Auction charges a small $1 fee per item added to the auction. After this we use 20% of the "Final Price" to continue funding our monthly auctions and community gathering and provide 80% of the final price to the original seller
                        of the item. This structure allows our auctions to stay sustainable and continuous. After the auction completes, we mail a check to the particants whom we owe the money to directly so they can then deposit their earnings at their
                        bank.
                    </p>
                </li>
                <li>
                    <h3>6. Where can I view the Auction Schedule?</h3>
                    <p>The auction schedule is available at the top of our homepage and also once you sign in you can view a list of all the upcoming auctions with their respective Day, Time, and Location details. The auctions are usually held at 4500 E
                        Hampden Ave, Cherry Hills Village, CO 80113 unless otherwise specified.</p>
                </li>
            </ul>
        </div>
    </section>

    <!-- Call to Action -->
    <section class="call-to-action text-white text-left">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mb-4">JOIN OUR CLUB AND SIGN UP TODAY!</h2>
                    <h5 class="mb-4">Sign up for our upcoming auctions by joining today!</h5>
                </div>
                <div class="col-xl-3 mx-auto">
                    <a class="btn btn-block btn-lg btn-primary mb-3 mr-3 max-w-200 " href="/user/signup">Sign Up</a>
                    <a class="btn btn-block btn-lg btn-outline-light mt-0 mb-3 mr-3 max-w-200 " href="/user/signin">Sign In</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 h-100 text-center my-auto">
                    <!---  <ul class="icons">
                        <li><a class="fab fa-twitter" href="#"><span class="label">Twitter</span></a></li>
                        <li><a class="fab fa-facebook-f" href="#"><span class="label">Facebook</span></a></li>
                        <li><a class="fab fa-instagram" href="#"><span class="label">Instagram</span></a></li>
                        <li><a class="fa fa-envelope" href="#"><span class="label">Email</span></a></li>
                    </ul>
                     -->

                    <p class="copyright mb-4 mb-lg-0">
                        Colorado Aquarium Society | CAS Live Auction: <a href="https://www.aquariumrestaurants.com/downtownaquariumdenver/">Learn More</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
