<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Define Order</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="row mb-3">
                <div class="col-md-6 border">
                    <img *ngIf="imgUrl" [src]="imgUrl" class="card-img mb-1"  width="300" height="200">
                    <img *ngIf="!imgUrl" src="../../../../assets/placeholder.png" class="card-img mb-1"  width="300" height="200">
                </div>

                <div class="col-md-6 border text-center">
                <div class="mt-2 mb-2">
                    <h2><p>
                    <label>Name:</label>
                    {{ selectItem.itemName }}
                    </p></h2>
                    <p>
                    <label>Code:</label>
                    {{ selectItem.itemCode }}
                    </p>
                    <p>
                    <label>Quantity:</label>
                    {{ selectItem.quantity }}
                    </p>
                    <p>
                    <label>Description:</label><br>
                    {{ selectItem.description }}
                    </p>
                </div>
                </div>
            </div>

            <!-- Search form -->
            <div class="input-group text-center mb-3 border-bottom pb-2">
                <div class="input-group-prepend">
                    <img src="../../../assets/icons/search.svg">
                </div>

                <input class="form-control ml-3 mr-3" type="text" placeholder="Search Item Code"
                aria-label="Search" [(ngModel)]="searchItemCode" name="search">

                <div class="input-group-append">
                    <button class="btn btn-dark" (click)="onSearch()">Search</button>
                </div>
            </div>
            <div *ngIf="searchMsg" class="text-center">
                <label class="alert alert-danger">{{ searchMsg }}</label>
            </div> 

            <div class="row mb-2">
                <div class="col text-center">
                    <div *ngIf="!showQueueBtn">
                        <button class="btn btn-success form-control mb-2" (click)="onQueue()" disabled>Queue >></button>
                    </div>
                    
                    <div *ngIf="showQueueBtn">
                        <button class="btn btn-success form-control mb-2" (click)="onQueue()">Queue >></button>
                    </div>

                    <h4>Unorder list:</h4>
                </div>
                
                <div class="col text-center">
                    <button class="btn btn-dark form-control mb-2" (click)="onRefresh()">
                        <img src="../../../assets/icons/refresh-cw.svg">Refresh
                    </button>
                </div>
                
                <div class="col text-center">
                    <div *ngIf="!showEnqueueBtn">
                        <button class="btn btn-danger form-control mb-2" (click)="onEnqueue()" disabled><< Remove</button>
                    </div>

                    <div *ngIf="showEnqueueBtn">
                        <button class="btn btn-danger form-control mb-2" (click)="onEnqueue()"><< Remove</button>
                    </div>
                    
                    <h4>Ordered list:</h4>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <select id="unItem" name="unItem" #unItem="ngModel" [(ngModel)]="unorderItem.itemCode" class="form-control" multiple="multiple" size="20">
                        <option *ngFor="let unorderItem of unorderList" value="{{ unorderItem.itemCode }}" (click)="selectUnorderItem(unorderItem)">
                            {{ unorderItem.itemCode }}
                        </option>
                    </select>
                </div>
                <div class="btn-group-vertical">
                    <button class="btn-dark mb-1" (click)="topBtn()"><img src='../../../../assets/icons/chevrons-up.svg'></button>
                    <button class="btn-dark mb-1" (click)="upBtn()"><img src='../../../../assets/icons/chevron-up.svg'></button>
                    <button class="btn-dark mb-1" (click)="downBtn()"><img src='../../../../assets/icons/chevron-down.svg'></button>
                    <button class="btn-dark" (click)="bottomBtn()"><img src='../../../../assets/icons/chevrons-down.svg'></button>
                </div>
                <div class="col">
                    <select id="orItem" name="orItem" #orItem="ngModel" [(ngModel)]="orderedItem.itemCode" class="form-control" multiple="multiple" size="20">
                        <option *ngFor="let orderedItem of orderedList, let i = index" value="{{ orderedItem.itemCode }}" (click)="selectOrderedItem(orderedItem, i)">
                            {{ orderedItem.itemCode }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div> 
</div>