<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
  <h3 *ngIf="currentUrl != '/'" class="text-dark">Upcoming Auction</h3>
  <div *ngIf="currentUrl != '/'" class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button (click)="refresh()" class="btn btn-dark">
        <img src="../../../assets/icons/refresh-cw.svg">
        Refresh
      </button>
    </div>
  </div>
</div>

<div class="album py-5 bg-dark">
  <div *ngIf="(auctionsInfo && auctionsInfo[0]) == null" class="text-light text-center">
    <h2>No Auction Scheduled</h2>
  </div>

  <div class="card-container m-3">
    <div class="row">
      <div *ngFor="let auc of auctionsInfo" routerLink="/auctions/{{ auc._id }}" class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="../../../assets/logo.png" class="card-img border">
 
            <div class="card-body text-center text-dark">
              <h4 class="card-title"><b>{{ auc.auctionName }}</b></h4>
              <p class="card-text">{{ auc.address }}</p>
              <p class="card-text">{{ auc.dateTime| date: 'mediumDate' }}</p>
              <p class="card-text">{{ auc.dateTime| date: 'shortTime' }}</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
